body {
    background-image: url(images/63c90943526b0202301190911314.webp);
    background-repeat: no-repeat;
    background-size:400vh;
    width: 100%;
    font-family: Arial, sans-serif;
    background-color: transparent;

}



.container, .container-fluid {
  width: 100%;
  padding-right: 25px;
  padding-left: 25px;
}



/* Form link styling */
form a {
    
  text-decoration: none !important;
  color: #fff !important;
  background: black !important;
}


/* contact form  */
.container {
    
    width: 40%;
    margin: 0 auto;
    padding: 20px;
   
}

.container h1 {
    
    text-align: center;
    color: #333;
    font-weight: 700;
}

.contact-form {
    
    background-color: transparent;
    /* opacity: 0.4; */
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    background: transparent;

}

.contact-form label {
    
    display: block;
    margin: 10px 0 5px;
    color: #000000;
    font-weight: 600;
}

.contact-form input,
.contact-form textarea {
    
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #333;
    border-radius: 5px;
    font-size: 16px;
    background: transparent;

}

.contact-form input:active,
.contact-form textarea:active {
    
    border: 4px solid #000000;
}

.contact-form input:hover,
.contact-form textarea:hover {
    border: 2px solid  grey;
}

.contact-form input,
.contact-form textarea {
    
    transition: border 0.3s ease;
}

.contact-form button {
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}




.contact-info {
    
    text-align: center;
    margin-top: 30px;
}

.contact-info p {
    
    font-size: 16px;
    color: #333;
}

.contact-info a {
    
    color: #1ab2ef;
    text-decoration: none;
}

footer {
    position: static;
    bottom: 0;
    width: 100%;
}

footer a { 
    text-decoration: none;
}

.map{
    justify-content: center;
}

a:hover{
  transition: 0.5s;
  text-decoration: underline;
}